.container-product-image {
    width: 120px;
    height: 120px !important;
}

@media (width >= 40rem) {
    .container-product-image {
        width: 160px;
        height: 160px !important;
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(-1deg);
    }
    25% {
        transform: rotate(1deg);
    }
    50% {
        transform: rotate(-1deg);
    }
    75% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(-1deg);
    }
}

.wiggle {
    animation: wiggle 0.46s ease-in-out infinite;
}

.icon-delete-image {
    font-size: 15px;
}
