@import "tailwindcss";
@plugin "daisyui";

:root{
    /* color palette */
    --blue:  #36A9E1;
    --black: #1D1D1B;
    --green:  #68FE00;
    --orange: #FE6D04;
    --pink: #E61B72;
    --gray: #3F3F3F;
}

/* Fonts */
.oxygen-light {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-style: normal;
}
* {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.oxygen-bold {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-style: normal;
}
h2{
  @apply text-3xl font-semibold text-gray-700;
}
